* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
  font-size: 16px;
}
/* Color Theme Swatches in Hex */
$LightBlue1-hex: #90cbfb;
$LightBlue2-hex: #3a1adb;
$LightBlue3-hex: #110066;
$LightYellow1-hex: #ffd432;
$LightGrey1-hex: #ffffff;
$LightGrey2-hex: #919191;

$gradientBackground: linear-gradient(
  190deg,
  $LightBlue2-hex 0%,
  $LightBlue3-hex 100%
);
@font-face {
  font-family: lemon-milk;
  src: url("../font/LEMONMILK-Bold.otf");
}
@font-face {
  font-family: nasalization;
  src: url("../font/nasalization-rg.otf");
}
@font-face {
  font-family: pacifico;
  src: url("../font/Pacifico-Regular.ttf");
}
@font-face {
  font-family: pirulen;
  src: url("../font/pirulen\ rg.ttf");
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Rubik:wght@800&family=Spartan&display=swap");
$Roboto: "Roboto", sans-serif;
$Rubik: "Rubik", sans-serif;
$Spartan: "Spartan", sans-serif;

$Pirulen: pirulen;
$LemonMilk: lemon-milk;
$Nasa: nasalization;
$Pacifico: pacifico;

body {
  font-family: $Roboto;
  //   color: $LightGrey1-hex; //reorganizing layout
  color: $LightBlue3-hex;
  //   cursor: none;
  //   background-color: $LightBlue2-hex;
  //   background-image: $gradientBackground;
  //   background-attachment: fixed;
  //   height: 100%;
}
div.content {
  width: 100vw; //reorganizing layout
  height: 100vh; //reorganizing layout
  background-color: $LightBlue2-hex;
  background-image: $gradientBackground;
  //   overflow: hidden;
  nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    margin: auto;
    width: 100%;
    border-bottom: 1px solid $LightBlue1-hex;
    h1.logo {
      color: $LightGrey1-hex;
      font-family: $Pirulen;
      font-size: 2rem;
      margin-left: 1rem;
    }
    ul.nav-links {
        margin-right: 1rem;
      display: flex;
      justify-content: space-between;
      list-style: none;
      li {
        color: $LightGrey1-hex;
        padding: 1rem;
        font-family: $Nasa;
        text-transform: uppercase;
        position: relative;
        top: 0;
        left: 0;
        transition: all 0.5s ease;
        transition-property: color;
      }
      li:before {
        position: absolute;
        bottom: 0.7rem;
        content: "";
        width: 0;
        height: 0.11rem;
        background-color: $LightGrey1-hex;
        //   background-color: $LightBlue1-hex;
        opacity: 0;
        transition: all 1s ease;
        transition-property: width, opacity;
      }
      li:hover:before {
        width: 50px;
        opacity: 1;
      }
    }
    // h1,
    // ul.nav-links {
    //   flex: 1; //sets both as equal halves within flex parent
    // } //reorganizing layout
  }
}

//section div.front-cover {
// background-color: $LightBlue1-hex;
// width: 100%; //reorganizing layout
// height: 100%; //reorganizing layout
//}
div.cursor {
  background-color: #919191;
  width: 2rem;
  height: 2rem;
  border: 0.125rem solid $LightYellow1-hex;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  transform: translate(-50%, -50%); //to fix cursor center position

  // note that we are now unable to select links because of the cursor div and the fact that its is constantly moving
  cursor: grow;
  pointer-events: none;
  transition: all 0.3s ease;
  //   transition-property: background-color, transform, border;
  transition-property: background-color, width, height;
  //   to solve the problem of the cursor not fitting over the link we need to work with transform origin
  transform-origin: 100% 100%;
  //   z-index: -1;//if I wasnt using transparent cursor
}

div.link-grow {
  // div.cursor.link-grow {
  width: 6rem;
  height: 6rem;
  //   transform: scale(2);
  background-color: transparent;
  // border: 0.125rem solid $LightYellow1-hex;
  //   opacity: 0.4;

  //   z-index: -1;
}
.hovered-link {
  color: $LightYellow1-hex;
  cursor: pointer;
}

section.sect {
  height: 100vh;
  color: $LightGrey1-hex;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: 1px solid $LightYellow1-hex;
  background-color: $LightBlue2-hex;
  background-image: $gradientBackground;
  div.front-cover {
    //    height: 100%;
    padding: 3rem;

    h2 {
      font-size: 5rem;
    }
  }
  img {
    width: 40%;
    height: auto;
    // padding: 3rem;
    margin: 3rem;
    display: block;
    background-color: $LightYellow1-hex;
    padding-bottom: 0.2rem;
  }
}

h1.jumbotron {
  color: $LightBlue1-hex;
  font-family: $Pirulen;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
  text-align: center;
  background-color: $LightBlue3-hex;
  padding: 1.75rem;
  border-radius: 1rem;
  border: 0.0125rem solid $LightGrey1-hex;
  box-shadow: -0.25rem 0.25rem 0.5rem  $LightBlue3-hex;
  span {
    color: $LightGrey1-hex;
  }
}
h1.jumbotron:hover {
    box-shadow: -0.25rem 0.25rem 0.5rem $LightBlue2-hex;
}

#img1 {
    border-left: 1rem solid $LightGrey2-hex;  
    padding-left: 3rem;
    
}
#img2 {
    border-right: 1rem solid $LightGrey2-hex; 
    padding-right: 3rem; 
}
hr {
    border: 1px solid $LightYellow1-hex;
    
}
hr#l-hr {
    border: 0.1rem solid $LightYellow1-hex;
    border-bottom: none;
    display: block;
    margin-top: 0.3rem;
}
div.front-cover h2 span {
    color: $LightYellow1-hex;
    font-size: inherit;
}
div.front-cover p {
    line-height: 1.5rem;
    margin-top: 1rem;
}


/* 
Some notes for the future, 
1. edit center hr on landing page to animate on hover and display a prompt icon to scroll further down
2. add a preloader before page loads  
3. add a modal when images are clicked, 
4. and include cursor animation for the images and landing hr 
5. make use of negative space with additional lines (vertical and horizontal, also text) and basic shapes
*/


