* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
/* Color Theme Swatches in Hex */

$LightBlue1-hex: #90CBFB;
$LightBlue2-hex: #2005ab;
$LightBlue3-hex: #110066;
$LightYellow1-hex: #FFD432;
$LightGrey1-hex: #FFFFFF;
$LightGrey2-hex: #919191;