@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Rubik:wght@800&family=Spartan&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: 0;
          box-sizing: 0;
  font-size: 16px;
}

/* Color Theme Swatches in Hex */
@font-face {
  font-family: lemon-milk;
  src: url("../font/LEMONMILK-Bold.otf");
}

@font-face {
  font-family: nasalization;
  src: url("../font/nasalization-rg.otf");
}

@font-face {
  font-family: pacifico;
  src: url("../font/Pacifico-Regular.ttf");
}

@font-face {
  font-family: pirulen;
  src: url("../font/pirulen rg.ttf");
}

body {
  font-family: "Roboto", sans-serif;
  color: #110066;
}

div.content {
  width: 100vw;
  height: 100vh;
  background-color: #3a1adb;
  background-image: linear-gradient(190deg, #3a1adb 0%, #110066 100%);
}

div.content nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 10vh;
  margin: auto;
  width: 90%;
}

div.content nav h1 {
  color: #ffffff;
  font-family: pirulen;
  font-size: 2rem;
}

div.content nav ul.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

div.content nav ul.nav-links li {
  color: #ffffff;
  padding: 1rem;
  font-family: nasalization;
  text-transform: uppercase;
  position: relative;
  top: 0;
  left: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transition-property: color;
  transition-property: color;
}

div.content nav ul.nav-links li:before {
  position: absolute;
  bottom: 0.7rem;
  content: "";
  width: 0;
  height: 0.11rem;
  background-color: #ffffff;
  opacity: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transition-property: width, opacity;
  transition-property: width, opacity;
}

div.content nav ul.nav-links li:hover:before {
  width: 50px;
  opacity: 1;
}

div.cursor {
  background-color: #919191;
  width: 2rem;
  height: 2rem;
  border: 0.125rem solid #ffd432;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: grow;
  pointer-events: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transition-property: background-color, width, height;
  transition-property: background-color, width, height;
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}

div.link-grow {
  width: 6rem;
  height: 6rem;
  background-color: transparent;
}

.hovered-link {
  color: #ffd432;
  cursor: pointer;
}

section.sect {
  height: 100vh;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-top: 1px solid #ffd432;
  background-color: #3a1adb;
  background-image: linear-gradient(190deg, #3a1adb 0%, #110066 100%);
}

section.sect div.front-cover {
  padding: 3rem;
}

section.sect div.front-cover h2 {
  font-size: 5rem;
}

section.sect img {
  width: 40%;
  height: auto;
  margin: 3rem;
  display: block;
  background-color: #ffd432;
  padding-bottom: 0.2rem;
}

h1.jumbotron {
  color: #90cbfb;
  font-family: pirulen;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(2);
          transform: translate(-50%, -50%) scale(2);
  text-align: center;
}

#img1 {
  border-left: 1rem solid #919191;
  padding-left: 3rem;
}

#img2 {
  border-right: 1rem solid #919191;
  padding-right: 3rem;
}

hr {
  border: 1px solid #ffd432;
}

hr#l-hr {
  border: 0.1rem solid #ffd432;
  border-bottom: none;
  display: block;
  margin-top: 0.3rem;
}

div.front-cover p {
  line-height: 1.5rem;
  margin-top: 1rem;
}

/* 
Some notes for the future, 
1. edit center hr on landing page to animate on hover and display a prompt icon to scroll further down
2. add a preloader before page loads  
3. add a modal when images are clicked, 
4. and include cursor animation for the images and landing hr 
*/
/*# sourceMappingURL=style.css.map */